<div>
  <h2>Lesson 7 - HTML templates</h2>
  <p>Hi there {{phoneListCtrl.username}}</p>
  <p>Total number of phones: {{phoneListCtrl.phones.length}}</p>
  <p>Search: <input ng-model="phoneListCtrl.query" /></p>
  <p>
    Sort by:
    <select ng-model="phoneListCtrl.orderProp">
    <option value="name">Alphabetical</option>
    <option value="age">Newest</option>
  </select>
    <p>currently ordered by {{phoneListCtrl.orderProp}}</p>
  </p>
  <ul>
    <li ng-repeat="phone in phoneListCtrl.phones | filter:phoneListCtrl.query | orderBy:phoneListCtrl.orderProp ">
      <span>{{phone.name}}</span>
      <p>
        <img ng-src="{{phone.imageUrl}}" alt="{{phone.name}}" />
      </p>
      <!-- <a href="/#!/phones/{{phone.id}}">{{phone.name}}</a> -->
      <a ui-sref="phoneDetail({phoneId: phone.id})">{{phone.name}}</a>
      <p>{{phone.snippet}}</p>
      <p>Age: {{phone.age}}</p>
    </li>
  </ul>

  <pre>{{phoneListCtrl.phones | filter:phoneListCtrl.query | orderBy:phoneListCtrl.orderProp | json}}</pre>
</div>


<div class="list-of-phones" layout="column" layout-gt-xs="row">
  <div flex-gt-xs>
    I'm above on mobile, and to the left on larger devices.
  </div>
  <div flex-gt-xs>
    I'm below on mobile, and to the right on larger devices.
  </div>
</div>

<div class="md-padding" layout-xs="column" layout="row">
    <div flex-gt-xs="33" >
      <md-card>
        <img ng-src="{{phoneListCtrl.phones[5].imageUrl}}" class="md-card-image" alt="Washed Out">
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">{{phoneListCtrl.phones[5].name}}</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-actions layout="row" layout-align="start center">
          <md-card-icon-actions>
            <md-button class="md-icon-button" aria-label="Favorite">
              <md-icon md-svg-icon="img/icons/favorite.svg"></md-icon>
            </md-button>
            <md-button class="md-icon-button" aria-label="Share">
              <md-icon md-svg-icon="img/icons/share-arrow.svg"></md-icon>
            </md-button>
          </md-card-icon-actions>
          <md-button>Action 1</md-button>
          <md-button>Action 2</md-button>
        </md-card-actions>
        <md-card-content>
          <p>
            {{phoneListCtrl.phones[5].snippet}}
          </p>
        </md-card-content>
      </md-card>
      <md-card>
        <md-card-header>
          <md-card-avatar>
            <img class="md-user-avatar" src="img/100-2.jpeg"/>
          </md-card-avatar>
          <md-card-header-text>
            <span class="md-title">User</span>
            <span class="md-subhead">subhead</span>
          </md-card-header-text>
        </md-card-header>
        <img ng-src="{{phoneListCtrl.phones[4].imageUrl}}" class="md-card-image" alt="Washed Out">
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">{{phoneListCtrl.phones[4].name}}</span>
            <span class="md-subhead">Reversed</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-actions layout="row" layout-align="start center">
          <md-button>Action 1</md-button>
          <md-button>Action 2</md-button>
          <md-card-icon-actions>
            <md-button class="md-icon-button" aria-label="toggle">
              <md-icon md-svg-icon="md-toggle-arrow"></md-icon>
            </md-button>
          </md-card-icon-actions>
        </md-card-actions>
        <md-card-content>
          <p>
            {{phoneListCtrl.phones[4].snippet}}
          </p>
        </md-card-content>
      </md-card>
    </div>
    <div flex-gt-xs="50" >
      <md-card>
        <md-card-header>
          <md-card-avatar>
            <md-icon class="md-avatar-icon" md-svg-icon="img/icons/menu.svg"></md-icon>
          </md-card-avatar>
          <md-card-header-text>
            <span class="md-title">Title</span>
            <span class="md-subhead">subhead</span>
          </md-card-header-text>
        </md-card-header>
        <img ng-src="{{phoneListCtrl.phones[2].imageUrl}}" class="md-card-image" alt="Washed Out">
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">{{phoneListCtrl.phones[2].name}}</span>
            <span class="md-subhead">Description</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-actions layout="row" layout-align="start center">
          <md-button>Action 1</md-button>
          <md-button>Action 2</md-button>
        </md-card-actions>
        <md-card-content>
          <p>
            {{phoneListCtrl.phones[2].snippet}}
          </p>
        </md-card-content>
      </md-card>
    </div>
  </div>
