<h2>Lesson 4 - HTML templates</h2>
<p>Hi there {{phonelistCtrl.username}}</p>
<p>Total number of phones: {{phonelistCtrl.phones.length}}</p>
<p>Search: <input ng-model="$myctrl.query" /></p>
<p>
  Sort by:
  <select ng-model="phonelistCtrl.orderProp">
    <option value="name">Alphabetical</option>
    <option value="age">Newest</option>
  </select>
  <p>currently ordered by {{phonelistCtrl.orderProp}}</p>
</p>
<ul>
  <li ng-repeat="phone in phonelistCtrl.phones | filter:$myctrl.query | orderBy:phonelistCtrl.orderProp">
    <span>{{phone.name}}</span>
    <p>{{phone.snippet}}</p>
    <p>Age: {{phone.age}}</p>
  </li>
</ul>
